﻿@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "Team Placement";
}

<hgroup class="title">
    <h2>@Page.Title</h2>
</hgroup>
<h5>Select criteria to sort students into teams</h5>


@{
	if( IsPost )
	{
		<text>

		<div class="container border-dashed text-center">

			<div class="inline-block m15 w20p text-left">
				<h5>That Team</h5>
				<ul>
					<li>Student 1</li>
					<li>Student 2</li>
					<li>Student 3</li>
					<li>Student 4</li>
					<li>Student 5</li>
				</ul>
			</div>

			<div class="inline-block m15 w20p text-left">
				<h5>Gold Team</h5>
				<ul>
					<li>Student 6</li>
					<li>Student 7</li>
					<li>Student 8</li>
					<li>Student 9</li>
					<li>Student 10</li>
				</ul>
			</div>

			<div class="inline-block m15 w20p text-left">
				<h5>The Fighting Mongeese</h5>
				<ul>
					<li>Student 11</li>
					<li>Student 12</li>
					<li>Student 13</li>
					<li>Student 14</li>
					<li>Student 15</li>
				</ul>
			</div>

			<div class="inline-block m15 w20p text-left">
				<h5>Team Zero</h5>
				<ul>
					<li>Student 16</li>
					<li>Student 17</li>
					<li>Student 18</li>
					<li>Student 19</li>
					<li>Student 20</li>
				</ul>
			</div>

		</div>

	</text>
}

	Dictionary<string, string> categoryList = new Dictionary<string, string>();
	categoryList.Add("GPA", "GPA");
	categoryList.Add("bigPictureDetailRating", "Big Picture Rating");
	categoryList.Add("campusCommute", "Commute to Campus");
	categoryList.Add("commitmentLevel", "Commitment Level");
	categoryList.Add("concentration", "Concentration");
	categoryList.Add("credits", "Number of Credits");
	categoryList.Add("leaderShipPreference", "Leadership Preference Rating");
	categoryList.Add("leadershipRole", "Leadership Role Rating");
	categoryList.Add("onCampusWork", "Work on Campus");
	categoryList.Add("offCampusWork", "Work off Campus");
	categoryList.Add("prerequisiteCourseGrade", "Prerequisite Course Grade");
	categoryList.Add("weekendMeetings", "Available Weekends");
	categoryList.Add("writingSkills", "Writing Skills");
}

<article>

	<form action="" method="post">
		<table class="table table-striped border-dashed" style="font-size: .7em;">
			<tr>
				@{
					var i = 0;
					foreach (KeyValuePair<string, string> entry in categoryList)
					{
						List<SelectListItem> listItems = new List<SelectListItem>();

						SelectListItem sli1 = Request[ @entry.Key ] == "0"
							? new SelectListItem { Text = "Group", Value = "0", Selected = true }
							: new SelectListItem { Text = "Group", Value = "0" };

						SelectListItem sli2 = Request[ @entry.Key ] == "1"
							? new SelectListItem { Text = "Diversify", Value = "1", Selected = true }
							: new SelectListItem { Text = "Diversify", Value = "1" };

						listItems.Add( sli1 );
						listItems.Add( sli2 );

						@:<td>
							@entry.Value
						@:</td><td>
							@Html.DropDownList(@entry.Key, listItems);
						@:</td>
						if (i > 0 && (i + 1) % 3 == 0)
						{
							@:</tr><tr>
						}
						i++;
					}
				}
				<td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td colspan="6" class="text-right">
					Number of students per team: <input type="text" class="" name="numberOnTeams" style="width:60px;" />
				</td>
			</tr>
			<tr>
				<td colspan="6" class="text-right">
					<input type="submit" value="Suggest Teams" class="button ui-button-icon-primary" />
				</td>
			</tr>
		</table>
	</form>

</article>

<aside>
    <h4>Recent Activity</h4>
    <p>
		This will contain recent actions, dates (such as team ratings deadlines), etc.
    </p>
    <!--ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/TeamPlacement">Team Placement</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </!--ul-->
</aside>

<aside>
	<h4>Recent Questionnaire Completions</h4>
	<p>
		Use this area to provide additional information.
	</p>
</aside>